.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #3fc9eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  color: black;
  background-color: yellow;
  padding: 25px;
  margin: 0%;
}


.App{
  color: aliceblue;
  background-color: black;
  padding: 15px;
}

a{
  color: aliceblue;
  text-decoration: none;
}

nav ul li{
  padding: 15px;
  text-align: center;
  display: inline-block;
}

nav ul{
  text-align: center;
}

.list{
  padding: 15px;
  font-size: x-large;
}

.list:hover{
    color: aqua;
}

.registro{
  color: black;
  text-align: center;
  padding: 25px;
  background-color: bisque;
  margin: 0%;
}



